<!DOCTYPE html>
<html>

<head>
    <style>
        .center_div {
            width: 50%;
            height: 50%;

            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
</head>

<body>
    <div class="center_div">
        <b>{{title}}</b><br /><br />
        {{content}}<br /><br />
        <div align="center"><input type=button value=刷新 onclick="location.reload()"></div>

    </div>
</body>

</html>